<head>
</head>
<!-- 1.ナビゲーションバーの設定 -->
<div class="navbar navbar-inverse">
        <!-- 2.ヘッダ情報 -->
        <div class="navbar-header">
            <a class="navbar-brand">HEAVEN'S DOOR</a>
	</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 col-md-5">
		<!-- 上部の説明文-->
		<% @check_toiret.each do |ctoiret| %>
		<%= ctoiret.datetime %> <br/>
		<%= ctoiret.toiret_floor %> <br/>
		<% if ctoiret.flag == true then %>
		 <%= image_tag("closed.png", :size => "128x128") %>
		<% else %>
    <%= image_tag("opend.png", :size => "128x128") %>
		<% end %>
		<% end %>
	</div>
        <div class="col-xs-10 col-md-5">
	</div>
        <div class="col-xs-1"></div>
    </div>
</div>
